tr.example-detail-row {
  height: 0;
}
tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}
.example-element-detail {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerplayer{
  display: flex;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
}
.pauseplay{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.slider{
  width:60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trash{
  width:10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pic{
  width:20%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
.pic2{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
}
.actslider{
  width:95%;
}
.myimg{
   width: 100%;
   height: auto;
}
:host ::ng-deep .myvideo{
   width: 100%;
   height: auto;
   position:relative;
}
