<!--The content below is only a placeholder and can be replaced.-->
<div class='loginpage'>
  <ul>
       <li>
         <h2 class='title'>{{title}}</h2>
       </li>
       <div class="errorbox">
           <p class="errortext">{{errorcomponent}}</p>
           <p class="successtext">{{successcomponent}}</p>
       </div>
        <div class="form-group">
            <input  (keyup)="email($event)" id="fullemail" placeholder="Userid" required="required" type="text" class="form-control">
        </div>
        <div class="form-group">
            <input  (keyup)="password($event)" id="fullpassword" placeholder="Password" required="required" type="password" class="form-control">
        </div>
        <div class="form-group">
          <button *ngIf="render === true" (click)="login()" id="log-Button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Log In</button>
        </div>
  </ul>
</div>
<router-outlet></router-outlet>
