.loginpage{
  display: flex;
  align-items: center;
  justify-content: center;
  position : fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding : 0px;
  width: 100%;
  height: 100%;
  background: rgb(16, 24, 32);
}
#signup-Button{
  color: #ff8011;
  margin-left: 10px;
}
#log-Button{
  color: #ff8011;
  margin-right: 10px;
}
.form-group{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  width: 100%;
  height: 10%;
}
.form-control{
  border-color: #ff8011;
  border-radius: 10%;
}
