<section class="table-container">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

  <!-- id Column -->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id. </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <!-- mimetype Column -->
  <ng-container matColumnDef="mimetype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> mimetype </th>
    <td mat-cell *matCellDef="let element"> {{element.mimetype}} </td>
  </ng-container>

  <!-- filename Column -->
  <ng-container matColumnDef="filename">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> filename </th>
    <td mat-cell *matCellDef="let element"> {{element.filename}} </td>
  </ng-container>

  <!-- timestamp Column -->
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> timestamp </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
  </ng-container>

  <!-- size Column -->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> size </th>
    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
     <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <!--AUDIO PLAYER-->
                <div class="innerplayer">
                  <div class="slider">
                    <mat-slider class="actslider" (change)="mouse($event)" min="0" max="100" [value]="imported" step="1"></mat-slider>
                  </div>
                  <div class="pauseplay" (click)="pauseplay()">
                    <mat-icon *ngIf="isplaying === false" class="icon">play_circle_outline</mat-icon>
                    <mat-icon *ngIf="isplaying === true" class="icon">pause_circle_outline</mat-icon>
                  </div>
                  <div  class="trash" (click)="deletefunc(element._id)">
                    <mat-icon class="icon">delete_outline</mat-icon>
                  </div>
                </div>
     </div>
   </td>
 </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandandretract(element)">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>


</section>
