<section class="table-container">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

  <!-- id Column -->
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id. </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>



  <!-- filepic Column -->
  <ng-container matColumnDef="coinownerid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> coinownerid </th>
    <td mat-cell *matCellDef="let element"> {{element.coinownerid}} </td>
  </ng-container>

  <!-- mimetype Column -->
  <ng-container matColumnDef="becauseofpost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> becauseofpost </th>
    <td mat-cell *matCellDef="let element"> {{element.becauseofpost}} </td>
  </ng-container>

  <ng-container matColumnDef="uploaderofpost">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> uploaderofpost </th>
    <td mat-cell *matCellDef="let element"> {{element.uploaderofpost}} </td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
     <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        rere
     </div>
   </td>
 </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>


</section>
