<section class="table-container">
  <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="mat-elevation-z8">

  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> id. </th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <ng-container matColumnDef="recipientid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> recipientid </th>
    <td mat-cell *matCellDef="let element"> {{element.recipientid}} </td>
  </ng-container>

  <ng-container matColumnDef="senderusername">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> senderusername </th>
    <td mat-cell *matCellDef="let element"> {{element.senderusername}} </td>
  </ng-container>

  <ng-container matColumnDef="senderid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> senderid </th>
    <td mat-cell *matCellDef="let element"> {{element.senderid}} </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> timestamp </th>
    <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
  </ng-container>

  <ng-container matColumnDef="uploadid">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> uploadid </th>
    <td mat-cell *matCellDef="let element"> {{element.uploadid}} </td>
  </ng-container>

  <ng-container matColumnDef="doifollowsender">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> doifollowsender </th>
    <td mat-cell *matCellDef="let element"> {{element.doifollowsender}} </td>
  </ng-container>

  <ng-container matColumnDef="notificationtype">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> notificationtype </th>
    <td mat-cell *matCellDef="let element"> {{element.notificationtype}} </td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
 <ng-container matColumnDef="expandedDetail">
   <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
     <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        rere
     </div>
   </td>
 </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>


</section>
