<article class="fullpage">
  <section class="topbar">
    <div class="topbar22">
      <h1>Infinityrealm</h1>
    </div>
    <div class="topbar222">
      <mat-form-field class="example-form-field">
        <input class="myqueryinput" matInput type="text" (keyup)="query($event)">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="queryfunc()">
          <mat-icon class="icon">search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="topbar2">
      <p>logout</p>
    </div>
  </section>
  <mat-tab-group class="tabs">
    <mat-tab label="Accounts">
      <uploads-page></uploads-page>
    </mat-tab>
    <mat-tab label="Uploads">
      <accounts-page></accounts-page>
    </mat-tab>
    <mat-tab label="likes">
      <likes-page></likes-page>
    </mat-tab>
    <mat-tab label="follows">
      <follows-page></follows-page>
    </mat-tab>
    <mat-tab label="coins">
      <coins-page></coins-page>
    </mat-tab>
    <mat-tab label="Beats">
      <beats-page></beats-page>
    </mat-tab>
    <mat-tab label="Saved">
      <saved-page></saved-page>
    </mat-tab>
    <mat-tab label="Location">
      <location-page></location-page>
    </mat-tab>
    <mat-tab label="Notifications">
      <notifications-page></notifications-page>
    </mat-tab>
    <mat-tab label="Reports">
      <reports-page></reports-page>
    </mat-tab>
    <mat-tab label="fake reporters">
      <fakereports-page></fakereports-page>
    </mat-tab>
    <mat-tab label="blacklisted">
      <blacklisted-page></blacklisted-page>
    </mat-tab>
    <mat-tab label="preserved">
      <preserved-page></preserved-page>
    </mat-tab>
    <mat-tab label="beats">
      <div class="inputuploadbox">
        <section class="sometext">
          <h1 class="actualltext">Choose Beats to upload</h1>
        </section>
        <section class="error">
          <h2 class="errortext">{{errorcomp}}</h2>
        </section>
        <div class="uploadingfiles">
          <input name="file" type="file" multiple ng2FileSelect [uploader]="uploader"/>
        </div>
        <div class="uploadallopt" *ngIf="uploader?.queue?.length > 1">
          <div (click)="uploader.uploadAll()" class="uploadallbtnopt">
              <p>upload all</p>
          </div>
        </div>
          <!--For Loop Goes Here-->
          <article class="processess" *ngFor="let item of uploader.queue">
              <div class="fileinfo1">
                  <p  class="textfile">{{item.file.name}}</p>
              </div>
              <div class="fileinfo2">
                  <section class="progressbox">
                      <div [ngStyle]="{'width':item.progress+'%'}" style="display:flex;justify-content: flex-start;align-items: center;background-color:#ff8011;">
                        <p>{{item.progress}}</p>
                      </div>
                  </section>
              </div>
              <div class="fileinfo3">
                <div class="mybtninfo" (click)="item.remove()">
                    <p class="innerbtn">remove</p>
                </div>
                <div class="mybtninfo" (click)="item.upload()">
                    <p class="innerbtn">upload</p>
                </div>
              </div>
          </article>
      </div>
    </mat-tab>
  </mat-tab-group>
</article>
