.fullpage{
  display: block;

  position : fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px;
  padding : 0px;
  width: 100%;
  height: 80%;
  background: rgb(16, 24, 32);
}
.tabs{
  width: 100%;
  height: 90%
}
.topbar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding : 0px;
  width: 100%;
  height: 10%;
  background: transparent;
}
.topbar2{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  padding-right: 20px;
  background: transparent;
}
.topbar22{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  padding-left: 20px;
  background: transparent;
}
.topbar222{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  padding-left: 20px;
  background: transparent;
}
.example-form-field {
  width: 100%;
}
.myqueryinput{
  color:#ffff;
  background-color: rgb(16, 24, 32 ,40);
}
.icon{
  color:#ffff;
}

.uploadingfiles{
  width: 50%;
  background-color: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
}
.uploadallopt{
  background-color: inherit;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}
.uploadallbtnopt:active{
  background-color: #ff9321;
}
.uploadallbtnopt{
  background-color: #ff8011;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.processess{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: flex-start;
  align-items: center;
  background-color: inherit;
  padding:20px;
  margin-top: 10px;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
 .fileinfo1{
  width: 20%;
  height: 100%;
  padding: 10px;
  background-color: inherit;
}
.fileinfo2{
  width: 60%;
  height: 100%;
  background-color: inherit;
}
.fileinfo3{
  width: 20%;
  height: 100%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textfile{
  color : #ff8011;
}
.mybtninfo{
  margin-left: 5px;
  background-color: #ff8011;
  padding: 2px;
  width:30%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mybtninfo:active{
  background-color: #ff9321;
}
.innerbtn{
  color: black;
}
.output{
  background-color: inherit;
  width: 100%;
  margin-top: 20px;
  display: flex;
}
.error{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.inputuploadbox{
  background-color: inherit;
  overflow: auto;
  height:85%;
  width:100%;
  position: fixed;
}
.sometext{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 1px #ff8011;
  -webkit-box-shadow: 0px 0px 1px #ff8011;
  -moz-box-shadow: 0px 0px 1px #ff8011;
  -ms-box-shadow: 0px 0px 1px #ff8011;
  -o-box-shadow: 0px 0px 1px #ff8011;
}
.actualltext{
  font-family: 'Tangerine', cursive;
  color:#ff8011;
  font-size: 70px;
}
