/* You can add global styles to this file, and also import other style files */
.title{
  font-family: 'Tangerine', cursive;
  color:rgb(242, 170, 76);
  font-size: 55px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
 -moz-animation: glow 1s ease-in-out infinite alternate;
 animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
li{
  list-style-type: none;
}
.introductorybtns{
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.successtext{
  color : green;
  font-size: 18px;
}
.errortext{
  color : red;
  font-size: 18px;
}
p{
  color: #fff;
}
h1{
  font-family: 'Tangerine', cursive;
  color:rgb(242, 170, 76);
  font-size: 35px;
}
.attemps{
  color:#ff8011;
  font-size: 18px;
}
mat-tab{
  height: 100%;
}
.mat-tab-label{
  color: #fff !important;
}
.mat-tab-label-active{
  color: rgb(242, 170, 76) !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
.table-container {
  overflow: auto;
  height:85%;
  width:100%;
  position: fixed;
}
